<div class="row article mb-4 border-secondary" id="{{this._id}}">
    <div class="col-md-3 px-0 pic-box">
        <a href="https://www.cnet.com{{this.link}}" target="_blank"><img class="w-100 thumbnail" src="{{this.thumbnail}}"
                alt="{{this.thumbnail}}"></a>
    </div>
    <div class="col-md 9">
        <!-- Article Title-->
        <h3 class="title w-100 mt-3"><a href="https://www.cnet.com{{this.link}}" target="_blank"
                class="text-dark">{{this.title}}</a></h3>
        <!-- Article summary -->
        <h5 class="summary">
            {{this.summary}}
        </h5>
        <a class="text-dark" href="https://www.cnet.com{{this.link}}" target="_blank">Read More</a>
        <button class="btn btn-transparent save" data-id="{{this._id}}" saved={{this.saved}}>
            {{#if this.saved}}
            <i class="fas fa-heart"></i>
            {{/if}}
            {{#unless this.saved}}
            <i class="far fa-heart"></i>
            {{/unless}}
        </button>
        <button class="btn btn-transparent edit-btn" data-id="{{this._id}}" data-toggle="modal"
            data-target="#id-{{this._id}}"><i class="fas fa-edit"></i>
        </button>
    </div>
</div>